*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.boxes{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    
    column-gap: 100px;
}
.box1{
    width: 300px;
    height: 200px;
    background-color: blue;

}
.box2{
   
    width: 300px;
    height: 200px;
    background-color: red;
}
.box3{
    width: 300px;
    height: 200px;
    background-color: white;
}
.box4{
    width: 300px;
    height: 200px;
    background-color: rgb(51, 222, 150);
}
.box5{
    width: 300px;
    height: 200px;
    background-color: rgb(236, 81, 200);
}
.box6{
    width: 300px;
    height: 200px;
    background-color: rgb(231, 213, 19);
}


