/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* BACKGROUND */
body {
    min-height: 100vh;
    background: url("bg-image.jpg") no-repeat center;
    background-size: cover;
}

.nav{
height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    
}

.nav a{
    padding: 12px 22px;
    border-radius: 40px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.25);
    color: white;
    font-size:16px;
   
    transition: all 0.35s ease;
    text-decoration: none;
       position: relative;
    z-index: 1;
}
.nav a:hover{
    transform: scale(1.08) translateX(-1px);
    background: rgba(255,255,255,0.27);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}
.nav a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: white;
    transition: all 0.35s ease;
    transform: translateX(-50%);
}

.nav a:hover::after{
    width: 70%;
}

.nav a::before{
    content: "";
    position: absolute;
    inset: -2px;
    background: linear-gradient(120deg,#00f5ff,#262afe,#00f5ff);
    border-radius: 26px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.nav a:hover::before{
    opacity: 1;
}
.frontend{
    width: 700px;
    padding: 25px;
    background-color: rgb(243, 17, 17);
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* each skill box */
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* same size for all icons */
.skill img{
    width: 90px;
    height: 120px;
    object-fit: contain;
}

/* skill name */
.skill p{
    color: white;
    font-size: 14px;
    font-weight: 600;
}
